.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  text-align: center;
  color: black;
}
h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: blue;
}
.container {
  display: block;
  margin-top: 40px;
  padding: 0 50px 75px;
  border: 1px solid grey;
}

ul {
  margin: 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
