.Search {
  font-family: sans-serif;
  text-align: center;
  color: rgb(140, 79, 120);
}
.App {
  border-color: blue;
  border-radius: 20px;
}

.container {
  display: block;
  margin-top: 40px;
  padding: 0 50px 75px;
  border: 1px solid grey;
}
